### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

Lemax-Take_Home/.vs/Lemax-Take_Home/v17/TestStore/0/testlog.manifest
Lemax-Take_Home/.vs/Lemax-Take_Home/v17/TestStore/0/006.testlog
Lemax-Take_Home/.vs/Lemax-Take_Home/v17/.futdcache.v1
Lemax-Take_Home/.vs/Lemax-Take_Home/FileContentIndex/read.lock
Lemax-Take_Home/.vs/Lemax-Take_Home/FileContentIndex/8c3db30b-613b-461b-a4ad-3de1ecdbd0d0.vsidx
Lemax-Take_Home/.vs/Lemax-Take_Home/FileContentIndex/6fdd60a7-a7b2-4f66-a066-47a4cbe58cfe.vsidx
Lemax-Take_Home/.vs/Lemax-Take_Home/FileContentIndex/6c8b9fe1-a8f5-4f5b-8cfc-e3813a81c956.vsidx
Lemax-Take_Home/.vs/Lemax-Take_Home/FileContentIndex/31924454-eb4c-4621-b5f9-fce5076e1551.vsidx
Lemax-Take_Home/.vs/Lemax-Take_Home/DesignTimeBuild/.dtbcache.v2
Lemax-Take_Home/.vs/
